In [6]:
import pandas as pd
from mysql.connector import connect

In [7]:
# Python homework 7
# 1. Прочтите этот набор данных по пауэрлифтингу в pandas DataFrame.
file = 'https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2019/2019-10-08/ipf_lifts.csv'
df = pd.read_csv(file)
df.head()

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
0,Hiroyuki Isagawa,M,SBD,Single-ply,NaN,NaN,NaN,67.5,67.5,205.0,140.0,225.0,1,1985-08-03,IPF,World Games
1,David Mannering,M,SBD,Single-ply,24.0,24-34,NaN,67.5,67.5,225.0,132.5,235.0,2,1985-08-03,IPF,World Games
2,Eddy Pengelly,M,SBD,Single-ply,35.5,35-39,NaN,67.5,67.5,245.0,157.5,270.0,3,1985-08-03,IPF,World Games
3,Nanda Talambanua,M,SBD,Single-ply,19.5,20-23,NaN,67.5,67.5,195.0,110.0,240.0,4,1985-08-03,IPF,World Games
4,Göran Henrysson,M,SBD,Single-ply,NaN,NaN,NaN,67.5,67.5,240.0,140.0,215.0,5,1985-08-03,IPF,World Games

In [8]:
# 2. Найдите рекорды каждого пола и каждого подразделения в каждом из 3 упражнений (жим лежа, приседания и становая тяга).

# Solution
# Вирішила виконати завдання альтернативним способом з допомогою методів pandas

# Виділили підрозділи, які є в датасеті - 12 шт. 
# (Open, Juniors, Masters 1, Masters 2, Sub-Juniors, Masters 3, Masters 4, Light, Heavy, Middle, Super, SuperHeavy)
df.division.value_counts()

Open           16517
Juniors         7154
Masters 1       5940
Masters 2       4645
Sub-Juniors     3158
Masters 3       2061
Masters 4        641
Light            118
Heavy            117
Middle           114
Super             40
SuperHeavy        20
Name: division, dtype: int64

In [9]:
# За допомогою методів contains фільтрую підрозділ та стать, 
# За допомогою sort_values обираю вправу та сортую результати у порядку спадання, щоб отримати рекорди
df[df.division.str.contains('Open', na=False)][df.sex.str.contains('M')].sort_values(by = 'best3squat_kg', ascending = False).head(3)

C:\Users\Марія\AppData\Local\Temp\ipykernel_16776\195354151.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.division.str.contains('Open', na=False)][df.sex.str.contains('M')].sort_values(by = 'best3squat_kg', ascending = False).head(3)

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
19413,Carl Yngvar Christensen,M,SBD,Single-ply,23.5,24-34,Open,168.02,120+,490.0,350.0,390.0,1,2014-11-03,IPF,World Powerlifting Championships
13348,Andrey Konovalov #1,M,SBD,Single-ply,32.0,24-34,Open,161.40,120+,475.0,377.5,375.0,1,2018-11-05,IPF,48th World Open Championships
31781,Carl Yngvar Christensen,M,SBD,Single-ply,22.5,20-23,Open,164.00,120+,475.0,330.0,370.0,2,2013-11-04,IPF,World Powerlifting Championships

In [10]:
df[df.division.str.contains('Open', na=False)][df.sex.str.contains('M')].sort_values(by = 'best3bench_kg', ascending = False).head(3)

C:\Users\Марія\AppData\Local\Temp\ipykernel_16776\3173379008.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.division.str.contains('Open', na=False)][df.sex.str.contains('M')].sort_values(by = 'best3bench_kg', ascending = False).head(3)

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
13349,Blaine Sumner,M,SBD,Single-ply,31.0,24-34,Open,172.80,120+,465.0,415.0,345.0,2,2018-11-05,IPF,48th World Open Championships
22026,Fredrik Smulter,M,B,Single-ply,31.5,24-34,Open,153.22,120+,NaN,401.0,NaN,1,2015-05-20,IPF,World Bench Press Championships
25926,Fredrik Smulter,M,B,Single-ply,30.5,24-34,Open,150.00,120+,NaN,400.0,NaN,1,2014-05-20,IPF,World Bench Press Championships

In [11]:
df[df.division.str.contains('Open', na=False)][df.sex.str.contains('M')].sort_values(by = 'best3deadlift_kg', ascending = False).head(3)

C:\Users\Марія\AppData\Local\Temp\ipykernel_16776\1946580949.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df.division.str.contains('Open', na=False)][df.sex.str.contains('M')].sort_values(by = 'best3deadlift_kg', ascending = False).head(3)

,name,sex,event,equipment,age,age_class,division,bodyweight_kg,weight_class_kg,best3squat_kg,best3bench_kg,best3deadlift_kg,place,date,federation,meet_name
25842,Tibor Mészáros,M,SBD,Single-ply,35.0,35-39,Open,140.2,125+,380.0,220.0,407.5,4,2002-11-13,IPF,Men's World Powerlifting Championships
24401,Tibor Mészáros,M,SBD,Single-ply,34.0,24-34,Open,147.2,125+,380.0,230.0,406.5,2,2001-11-15,IPF,Men's World Powerlifting Championships
13351,Júlían J.K. Jóhannsson,M,SBD,Single-ply,24.5,24-34,Open,166.6,120+,410.0,300.0,405.0,4,2018-11-05,IPF,48th World Open Championships

In [12]:
# 3. Посчитайте количество побед каждого участника, принимая за победу 1-е место. 
# Сохраните результаты во вторичном DataFrame.

# Solution
# Вибираю дані по учасникам, які зайняли 1 місце:
first_place = df.loc[df['place'] == '1']

# Рахую кількість перемог по кожному учаснику:
result = pd.DataFrame(first_place.groupby(['name']).agg(num_wins = ('place', 'count')).sort_values('num_wins', ascending=False))
result.head(10)

                   num_wins
name
Hideaki Inaba            28
Andrzej Stanaszek        24
Sergey Fedosienko        24
Ielja Strik              22
Hiroyuki Isagawa         21
Jarosław Olech           21
Hana Takáčová            20
Daiki Kodama             18
Priscilla Ribic          17
Alexey Sivokon           17

In [13]:
# 3 - Перевіряю отримані результати з допомогою підключення до даного файлу в MySQL
# Результати співпадають
conn = connect(host = '127.0.0.1',
               port = 3306,
               user = 'root',
               password = 'root',
               database = 'test_db_da_1')
cursor = conn.cursor(buffered=True)

cursor.execute("""SELECT `name`, COUNT(place) AS `num_wins`
                    FROM ipf_lifts 
                    WHERE place = '1'
                GROUP BY `name`
                ORDER BY `num_wins` DESC""")
data = pd.DataFrame(cursor.fetchall(), columns=['name', 'num_wins'])
data.head(10)

                name  num_wins
0      Hideaki Inaba        28
1  Andrzej Stanaszek        24
2  Sergey Fedosienko        24
3        Ielja Strik        22
4   Hiroyuki Isagawa        21
5     Jarosław Olech        21
6      Hana Takáčová        20
7       Daiki Kodama        18
8     Alexey Sivokon        17
9    Priscilla Ribic        17

In [14]:
# 4. Используйте DataFrame из упражнения 3, 
# чтобы показать для каждой комбинации подразделения и пола, участника с наибольшим количеством побед
# среди участников, когда-либо участвовавших в этом дивизионе.

# Solution
# Виконала завдання з допомогою підключення до даного файлу в MySQL:
cursor.execute("""SELECT *
FROM (SELECT sex, division, `name`, COUNT(place) as `Quantity of wins`
		FROM ipf_lifts
	   WHERE place = '1'
	GROUP BY sex, division, `name`
	ORDER BY `Quantity of wins` DESC) AS table1
GROUP BY sex, division""")
data = pd.DataFrame(cursor.fetchall())
data

    0            1                    2   3
0   F         Open          Ielja Strik  20
1   M         Open    Sergey Fedosienko  20
2   F    Masters 2        Hana Takáčová  10
3   M    Masters 2        Hideaki Inaba  10
4   F    Masters 1      Priscilla Ribic   9
5   M    Masters 1     Eric Kupperstein   9
6   F  Sub-Juniors     Daniela Kolesnik   8
7   M    Masters 4         Bill Helmich   8
8   M    Masters 3       Hiraku Fushimi   8
9   F    Masters 4           Bebe Burns   8
10  F      Juniors        Marta Sroczyk   7
11  F    Masters 3         Chiyomi Sawa   7
12  M      Juniors          Kirill Krut   6
13  M  Sub-Juniors       Norbert Mikula   4
14  M       Middle       Jarosław Olech   3
15  M           NA     Hiroyuki Isagawa   2
16  M        Light    Sergey Fedosienko   2
17  F        Light    Natalia Salnikova   2
18  F       Middle     Larysa Soloviova   2
19  F        Heavy  Ana Rosa Castellain   2
20  F           NA           Anna James   1
21  M        Heavy      Vadym Dovhanyuk   1
22  M        Super  Andrey Konovalov #1   1
23  F        Super        Olena Kozlova   1
24  M   SuperHeavy  Oleksiy Rokochyy Jr   1
25  F   SuperHeavy         Bonica Brown   1